$container-width: 1170px;
$half-container-width: calc($container-width / 2);

$font-size-main: 18px;
$font-family-main: "Lato", sans-serif;
$font-weight-main: 300;
$line-height-main: 26px;
$text-color-main: #ffffff;
$text-color-main-light-mode: #262A3F;

$bg-color-dark: #161926;
$bg-color-light: #ffffff;

$font-family-title: "Playfair Display", serif;

$btn-color-main: #53F3CD;
$btn-color-main-light-mode: #F1897B;

$border-color: #515773;
$border-color-light-mode: #E4E4E4;

$color-hover: #02E0AB;
$color-hover-light-mode: #E54F3A;

$color-focus: #689FF2;
$color-focus-light-mode: #85BBB1;

$title-italic-blue: #689FF2;
$title-italic-green: #85BBB1;